<h1>Sign your car op for lease</h1>
<p>Input car data</p>
<form style="border: red solid 1px;" method="POST" action="/lease/sucess">
<label>name</label><input id="carName" type="text" name="name"><br>
<label>color</label><input id="carColor" type="text" name="color"><br>
<label>type</label>
<select id="carType" name="type">
<option value="hypercar">hypercar</option>
<option value="sportssedan">sportssedan</option>
<option value="sportscar">sportscar</option>
</select><br>
<button type="submit">submit</button>
</form>